<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./head.ejs %>
</head>
<body class="login-screen">
  <main>
    <div class="login-box">
      <br><br>
      <h1><i class="icon_profile"></i>  <b>Log In to Your Account</b>  <i class="icon_profile"></i></h1>
      <br>
      <hr><br>
      <form class="login-form" action="/login/user" method="post">
        <label style="font-size: 1.5em">Email :</label>
        <div class="input-block">
          <input class="input-box" type="email" name="email" placeholder="Email" autofocus required/>
        </div>
        <label style="font-size: 1.5em">Password :</label>
        <div class="input-block">
          <input class="input-box" type="password" name="password" placeholder="Password" required/>
        </div>
        <button class="btn btn-success" type="submit" name="submit">Login</button><br>
        <br>
        <h3><b>Don't have an account?</b> </h3>
        <br>
        <a href="/signup" class="btn btn-danger "><b>Sign Up Here</b></a>
      </form>
    </div>
  </main><br>
</body>
</html>
